body {
    height: 100vh;
}

#map {
    height: 90vh;
}

.btn-info {
    margin: 10px 0;
}

.icons {
    display: inline-block;
}

#table {
    height: 90vh;
}
td {
    vertical-align: middle;
}

.sidenav {
    padding: 20px 10px;
    background-color: #f1f1f1;
    height: 90vh;
}
.sidenav h2 {
    margin: 5px 0 10px 0;
}
.sidenav h3 {
    margin: 10px 0 15px 0;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}