.App {
  text-align: center;
  background-color:'green'
}

element.style{
  background:'black'
}

body{
  background-color:'green'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#paperTable{
  width: 100%;
  height: 90%;
  overflow: hidden;
  margin-top: 50px;
}

.unknown{
  background:rgb(233, 105, 105);
  color: white;
  font-weight: bold;
}

.known{
  background: rgba(172, 255, 47, 0.425);
  font-weight: bold;
}

.thos{
  background:'red';
}

.dummy{
  border:'red';
}

.leaflet-control-container .leaflet-routing-container-hide {
  font-size: 10px;
  width: 20vw;
  height:50vh;
  overflow: scroll;
  background-color:white;
}

.goButton{
  background-color:#467be4ef;
  height: 5px;
  width: 2px;
  font-size: 15px;
  text-align: center;
  border-radius: 100px;
  font-weight: bolder;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: rgba(51, 51, 51, 0.89); */
  background-color:#467be4ef;
  overflow: hidden;
  height:45px;
  z-index: 999999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  text-align: center;
  color:white;
  font-weight: 500;
  padding: 10px 25px;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 4px;
}

/* Change the color of links on hover */
.topnav a:hover {
  border-radius: 30px;
  background-color: #77dde0;
  cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-radius: 30px;
  background-color: #77dde0;
  
  color: white;
}

.sideBarContainer{
  border-right: 1px solid grey;
  background-color: rgb(173, 209, 158);
  width: 20vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
}

#searchButton{
  width: 40%;
  padding: 7px;
  margin: 5px 0px 10px 5.5vw;
  border-radius: 30px;
  background-color: #548cff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bolder;
}

#locateMe{
  position: absolute;
  left: 57vw;
  top: 83vh;
  z-index: 9999;
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  background-color: #548cff;
  border: none;
  color: white;
  font-weight: bolder;
}

#clearButton{
  width: 50%;
  padding: 5px;
  margin:0px 0px 10px 70px;
  border-radius: 10px;
  color: black;
  border: none;
  font-size: 14px;
  font-weight: bolder;
}

#showRouteButton{
  width: 50%;
  padding: 15px;
  margin: 5px 0px 0px 70px;
  border-radius: 30px;
  background-color: #548cff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bolder;
}

.labelContainer{
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 50px;
  width: 90%;
  margin-left: 12px;
}

.Label{
  border-radius: 20px;
  padding: 3px 5px;
  margin: 0px 0px 5px 3vw;
  border: 0.2px solid #929292;
}

#searchBar{
  width: 11.5vw;
  padding: 15px;
  margin: 30px 0px 0px 3vw;
  z-index: 999;
  border-radius: 10px;
  border: none;
}

.filter{
  background-color: #467be4ef;
  border: 1px solid grey;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  width: 120px;
  padding: 3px;
  border-radius: 20px;
  text-align: center;
  z-index: 9999;
  top: 7vh;
}

.cityFilter{
  font-size: 16px;
  background-color: rgb(203, 0, 253);
  left: 25vw;
}

.smokingFilter{
  left: 45vw;
}

.typeFilter{
  left: 35vw;
}

.terraceFilter{
  left: 55vw;
}

#container{
  height: 100vh;
}

#mapContainer{
  width: 80%;
  height: 100vh;
  float: right;
}

.tableCell{
  max-width: 60px;
  background-color: #80c264;
  font-weight: bolder;
  font-size: 13px;
}