.App {
  text-align: center;
  background-color:'green'
}

element.style{
  background:'black'
}

body{
  background-color:'green'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unknown{
  background:rgb(233, 105, 105);
  color: white;
  font-weight: bold;
}

.known{
  background: rgba(172, 255, 47, 0.425);
  font-weight: bold;
}

.thos{
  background:'red'
}

.dummy{
  border:'red'
}

.leaflet-control-container .leaflet-routing-container-hide {
  width: 30vw;
  height:70vh;
  overflow: scroll;
  background-color:white;
}



